* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 1000px;
  height: 1000px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 1000px;
  height: 1000px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 1000px;
  height: 1000px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 100%;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 230px;
  overflow: hidden;
}
.v1_6 {
  width: 141px;
  height: 78px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 776px;
  overflow: hidden;
}
.v1_7 {
  width: 208px;
  height: 128px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 743px;
  overflow: hidden;
}
.v1_8 {
  width: 519px;
  height: 713px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 525px;
  overflow: hidden;
}
.v1_9 {
  width: 429px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 164px;
  left: 52px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 41px;
  opacity: 1;
  text-align: left;
}
.v1_10 {
  width: 1000px;
  height: 455px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 1px;
  overflow: hidden;
}
.v1_11 {
  width: 769px;
  height: 193px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 793px;
  left: 217px;
  overflow: hidden;
}
.v1_12 {
  width: 687px;
  height: 116px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 832px;
  left: 259px;
  overflow: hidden;
}
.v1_13 {
  width: 189px;
  height: 111px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 833px;
  left: 53px;
  overflow: hidden;
}
.v1_14 {
  width: 122px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 863px;
  left: 87px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 92px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 837px;
  left: 99px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1_16 {
  width: 107px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 891px;
  left: 92px;
  font-family: Montserrat;
  font-weight: Black;
  font-size: 41px;
  opacity: 1;
  text-align: left;
}
.v1_17 {
  width: 510px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 846px;
  left: 337px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 191px;
  left: 762px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 58px;
  opacity: 1;
  text-align: left;
}
.v1_19 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 248px;
  left: 785px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 52px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 480px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 380px;
  left: 53px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v1_21 {
  width: 460px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 685px;
  left: 53px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_22 {
  width: 645px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 233px;
  left: 52px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_23 {
  width: 515px;
  color: rgba(235,235,235,1);
  position: absolute;
  top: 58px;
  left: 53px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 33px;
  opacity: 1;
  text-align: left;
}
