/* Lora Font Styles for All Slides */

/* Font Face Definitions */
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Global Font Application - LORA EVERYWHERE */
* {
  font-family: 'Lora', serif !important;
}

/* Specific Slide Elements - LORA */
.slide-title,
.slide-title-text,
.slide-title-display,
.slide-content,
.slide-text,
.paragraph-text,
.bullet-text,
.number-text,
.professional-headline .heading-text,
.professional-bullet-item,
.professional-numbered-item,
.inline-editor-input,
.inline-editor-textarea,
.content-block,
.bullet-points-template,
.component-based-slide {
  font-family: 'Lora', serif !important;
  font-weight: 400 !important;
}

/* Headings - LORA */
h1, h2, h3, h4, h5, h6,
.heading-text,
.level-1 .heading-text,
.level-2 .heading-text,
.level-3 .heading-text,
.level-4 .heading-text {
  font-family: 'Lora', serif !important;
  font-weight: 600 !important;
}

/* Lists - LORA */
.bullet-items li,
.numbered-items li,
.professional-bullet-list,
.professional-numbered-list {
  font-family: 'Lora', serif !important;
  font-weight: 400 !important;
}

/* Inline Editor - LORA */
.inline-editor-input[data-block-type="headline"],
.inline-editor-textarea[data-block-type="headline"],
.inline-editor-input[data-block-type="paragraph"],
.inline-editor-textarea[data-block-type="paragraph"],
.inline-editor-input[data-block-type="bullet_list"],
.inline-editor-textarea[data-block-type="bullet_list"],
.inline-editor-input[data-block-type="numbered_list"],
.inline-editor-textarea[data-block-type="numbered_list"] {
  font-family: 'Lora', serif !important;
  font-weight: 400 !important;
}

/* Force override for all text elements - LORA */
.slide-content *,
.slide-title *,
.content-block * {
  font-family: 'Lora', serif !important;
  font-weight: 400 !important;
}

/* Page numbers and logos - LORA */
.page-number-editor,
.page-number-display {
  font-family: 'Lora', serif !important;
  font-weight: 300 !important;
}